<p>Compte client de {{ lastname | uppercase }} {{ firstname | lowercase }}</p>
<form>
    <div>
        <label>Adresse mail</label>
        <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>Prénom</label>
        <input [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>Nom</label>
        <input [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>Civilité</label>
        <input [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>Rue</label>
        <input [(ngModel)]="street" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>Code postal</label>
        <input [(ngModel)]="postcode" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>Ville</label>
        <input [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>Pays</label>
        <input [(ngModel)]="country" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>Login</label>
        <input [(ngModel)]="login" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label>Mot de passe</label>
        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <input type="submit" id="form-submit" value="Enregistrer" (click)="onSubmit()"/>
</form>

<!-- <app-account-form-summary [lastname] = "lastname" [firstname] = "firstname"></app-account-form-summary> -->

<app-account-form-summary
    [valid] = "valid"
    [lastname] = "lastname"
    [firstname] = "firstname"
    [title] = "title"
    [email] = "email"
    [login] = "login"
    [password] = "password"
    [street] = "street"
    [postcode] = "postcode"
    [city] = "city"
    [country] = "country"
    >
</app-account-form-summary>